.header {
    position: fixed;
    width: 100%;
    padding: 1.5rem 1.5rem 0;
    margin-inline: auto;
    z-index: 3;
    background-color: #fdf8ee;
  }
  
  .header ul {
    height: 100%;
    margin: auto 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu_btn:hover {
    scale: 105%;
    transition: all 0.2s ease-in-out;
  }
  
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 20px 0;
    text-decoration: none;
    height: 100%;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu_icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu_icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu_icon .navicon:before,
  .header .menu_icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu_icon .navicon:before {
    top: 5px;
  }
  
  .header .menu_icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu_btn {
    display: none;
  }
  
  .header .menu_btn:checked ~ .menu {
    max-height: 100vh;
  }
  
  .header .menu_btn:checked ~ .menu_icon .navicon {
    background: transparent;
  }
  
  .header .menu_btn:checked ~ .menu_icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu_btn:checked ~ .menu_icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
  .header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
    top: 0;
  }

  .book{
    display: inline;
    height: 2.5rem;
    margin-right: 1.5rem;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 72em) {

    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu_icon {
      display: none;
    }
    .header ul {
      display: flex;
      align-items: center;
    }
  }
  